RCNet/NeuralSettingsTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="Neural-Settings-Types"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           xmlns="Neural-Settings-Types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           >

  <!-- ________________________________________LOW LEVEL TYPES_________________________________________________ -->
  <!-- SIMPLE TYPES -->
  <!-- ENUMERATION TYPES -->
  <!-- Enumeration of activation functions -->
  <xs:simpleType name="ActivationFunctionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Elliot"/>
      <xs:enumeration value="Identity"/>
      <xs:enumeration value="Sinusoid"/>
      <xs:enumeration value="TanH"/>
      <xs:enumeration value="ISRU"/>
      <xs:enumeration value="Gaussian"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of neural task type -->
  <xs:simpleType name="NeuralTaskType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Prediction"/>
      <xs:enumeration value="Classification"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Auto option-->
  <xs:simpleType name="AutoOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NUMERIC TYPES -->
  <!-- Nonzero unsigned integer -->
  <xs:simpleType name="UIntGT0Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- UIntGT0Type with Auto option-->
  <xs:simpleType name="UIntGT0AutoOptionType">
    <xs:union memberTypes="UIntGT0Type AutoOptionType"/>
  </xs:simpleType>

  <!-- Unsigned double -->
  <xs:simpleType name="UDoubleType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double less than 1 -->
  <xs:simpleType name="UDoubleLT1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double less than or equal 1 -->
  <xs:simpleType name="UDoubleLE1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- COMPLEX TYPES -->
  <!-- Alone name element -->
  <xs:complexType name="AloneNameType">
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <!-- ________________________________________FF NETWORK TYPES_________________________________________________ -->
  <!-- FF network - regression (training) methods - enumeration -->
  <xs:simpleType name="FFNetRegressionMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Linear"/>
      <xs:enumeration value="Resilient"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- FF network - hidden layer - configuration -->
  <xs:complexType name="FFNetHiddenLayerCfgType">
    <xs:attribute type="UIntGT0Type" name="neurons" use="required"/>
    <xs:attribute type="ActivationFunctionType" name="activation" use="required"/>
  </xs:complexType>

  <!-- FF network configuration -->
  <xs:complexType name="FFNetCfgType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="FFNetHiddenLayerCfgType" name="hiddenLayer" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="ActivationFunctionType" name="activation" use="required"/>
    <xs:attribute type="FFNetRegressionMethodType" name="regressionMethod" use="required"/>
  </xs:complexType>

  <!-- ________________________________________PP NETWORK TYPES_________________________________________________ -->
  <!-- Parallel Perceptron network configuration -->
  <xs:complexType name="PPNetCfgType">
    <xs:attribute type="UIntGT0Type" name="gates" use="required"/>
    <xs:attribute type="UIntGT0Type" name="resolution" use="required"/>
  </xs:complexType>

  <!-- ________________________________________READOUT LAYER TYPES_________________________________________________ -->

  <!-- Readout unit configuration -->
  <xs:complexType name="ROutLayerUnitCfgType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="FFNetCfgType" name="ff" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PPNetCfgType" name="pp" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="UIntGT0Type" name="attempts" use="required"/>
    <xs:attribute type="UIntGT0Type" name="attemptEpochs" use="required"/>
    <xs:attribute type="UDoubleType" name="attemptStopMSE" use="required"/>
  </xs:complexType>

  <!-- Readout layer - output fields - configuration -->
  <xs:complexType name="ROutLayerOutputFieldsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Readout layer configuration -->
  <xs:complexType name="ROutLayerCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ROutLayerUnitCfgType" name="readoutUnit" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ROutLayerOutputFieldsCfgType" name="outputFields" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="testDataRatio" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:double">
          <xs:minExclusive value="0" />
          <xs:maxInclusive value="0.3333333333333333" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute type="UIntGT0AutoOptionType" name="folds" use="required"/>
  </xs:complexType>

  <!-- ________________________________________ANALOG RESERVOIR TYPES_________________________________________________ -->
  <!-- Analog reservoir - input - configuration -->
  <xs:complexType name="AnaResInputCfgType">
    <xs:attribute type="UDoubleLE1Type" name="connectionDensity" use="required"/>
    <xs:attribute type="UDoubleType" name="weightScale" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - random topology -configuration -->
  <xs:complexType name="AnaResRandTopoCfgType">
    <xs:attribute type="UDoubleLE1Type" name="connectionsDensity" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - ring topology -configuration -->
  <xs:complexType name="AnaResRingTopoCfgType">
    <xs:attribute type="UDoubleLE1Type" name="selfConnectionsDensity" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="interConnectionsDensity" use="required"/>
    <xs:attribute type="xs:boolean" name="bidirectional" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - DTT (Doubly Twisted Thoroidal) topology -configuration -->
  <xs:complexType name="AnaResDTTTopoCfgType">
    <xs:attribute type="UDoubleLE1Type" name="selfConnectionsDensity" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - retainment neurons -configuration -->
  <xs:complexType name="AnaResRetNeuronsCfgType">
    <xs:attribute type="UDoubleLE1Type" name="density" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="retainmentMinRate" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="retainmentMaxRate" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - context neuron -configuration -->
  <xs:complexType name="AnaResCtxNeuronCfgType">
    <xs:attribute type="ActivationFunctionType" name="activation" use="required"/>
    <xs:attribute type="UDoubleType" name="inputWeight" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="feedbackDensity" use="required"/>
    <xs:attribute type="UDoubleType" name="feedbackWeight" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - internal -configuration -->
  <xs:complexType name="AnaResInternalCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="AnaResRandTopoCfgType" name="topologyRandom" minOccurs="1" maxOccurs="1"/>
        <xs:element type="AnaResRingTopoCfgType" name="topologyRing" minOccurs="1" maxOccurs="1"/>
        <xs:element type="AnaResDTTTopoCfgType" name="topologyDTT" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:element type="AnaResRetNeuronsCfgType" name="retainmentNeurons" minOccurs="0" maxOccurs="1"/>
      <xs:element type="AnaResCtxNeuronCfgType" name="contextNeuron" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:unsignedInt" name="size" use="required" />
    <xs:attribute type="ActivationFunctionType" name="activation" use="required" />
    <xs:attribute type="UDoubleType" name="biasScale" use="required"/>
    <xs:attribute type="UDoubleType" name="weightScale" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - feedback -configuration -->
  <xs:complexType name="AnaResFeedbackCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="UDoubleLE1Type" name="density" use="required"/>
    <xs:attribute type="UDoubleType" name="weightScale" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir configuration -->
  <xs:complexType name="AnaResCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AnaResInputCfgType" name="input" minOccurs="1" maxOccurs="1"/>
      <xs:element type="AnaResInternalCfgType" name="internal" minOccurs="1" maxOccurs="1"/>
      <xs:element type="AnaResFeedbackCfgType" name="feedback" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
  </xs:complexType>

  <!-- ________________________________________ESN TYPES_________________________________________________ -->
  <!-- Esn - input fields -configuration -->
  <xs:complexType name="EsnInpFieldsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="routeToReadout" use="optional" default="false"/>
  </xs:complexType>

  <!-- Esn - reservoirs configuration - container -->
  <xs:complexType name="EsnAnaResCfgContainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AnaResCfgType" name="reservoirCfg" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Esn - reservoir instance - configuration -->
  <xs:complexType name="EsnAnaResInstanceCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="inputField" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="xs:string" name="cfg" use="required" />
    <xs:attribute type="xs:boolean" name="augmentedStates" use="required" />
  </xs:complexType>

  <!-- Esn - reservoir instances - container -->
  <xs:complexType name="EsnAnaResInstanceContainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="EsnAnaResInstanceCfgType" name="reservoirInstance" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Esn configuration -->
  <xs:complexType name="EsnCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="EsnInpFieldsCfgType" name="inputFields" minOccurs="1" maxOccurs="1"/>
      <xs:element type="EsnAnaResCfgContainerType" name="reservoirCfgContainer" minOccurs="1" maxOccurs="1"/>
      <xs:element type="EsnAnaResInstanceContainerType" name="reservoirInstanceContainer" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ROutLayerCfgType" name="readoutLayer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="NeuralTaskType" name="taskType" use="required"/>
    <xs:attribute type="xs:int" name="randomizerSeek" use="required" />
  </xs:complexType>

</xs:schema>

