RCNet/RCNetTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="RCNetTypes"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           xmlns="RCNetTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           >
  <!-- Xml is a standard way to parameterize RCNet components and this xsd document contains definition of all necessary xml structures.
       It is impossible to define all constraints becouse of some limitations of xsd, thus conformity with the schema does not mean
       that xml is fully consistent and will be accepted by the parameterized component.
  -->

  <!-- ________________________________________LOW LEVEL TYPES_________________________________________________ -->
  <!-- SIMPLE TYPES -->
  <!-- ENUMERATION TYPES -->

  <!-- Enumeration of random distribution -->
  <xs:simpleType name="RandomDistributionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Uniform"/>
      <xs:enumeration value="Gaussian"/>
      <xs:enumeration value="Exponential"/>
      <xs:enumeration value="Gamma"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of the mode of Pulse generator -->
  <xs:simpleType name="PulseGeneratorModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Constant"/>
      <xs:enumeration value="Uniform"/>
      <xs:enumeration value="Gaussian"/>
      <xs:enumeration value="Poisson"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of patterned data organization -->
  <xs:simpleType name="VariablesSchemaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Groupped"/>
      <xs:enumeration value="Sequential"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of synaptic delay method -->
  <xs:simpleType name="SynapticDelayMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Random"/>
      <xs:enumeration value="Distance"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of synaptic target scope -->
  <xs:simpleType name="SynapticTargetScopeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All"/>
      <xs:enumeration value="Excitatory"/>
      <xs:enumeration value="Inhibitory"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of neuron's role -->
  <xs:simpleType name="NeuronRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Excitatory"/>
      <xs:enumeration value="Inhibitory"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of neuron's output signaling restriction -->
  <xs:simpleType name="SignalingRestrictionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoRestriction"/>
      <xs:enumeration value="AnalogOnly"/>
      <xs:enumeration value="SpikingOnly"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of neuron's activation type -->
  <xs:simpleType name="ActivationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Analog"/>
      <xs:enumeration value="Spiking"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of methods of analog input value realtime coding -->
  <xs:simpleType name="AnalogCodingMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Actual"/>
      <xs:enumeration value="Difference"/>
      <xs:enumeration value="LinearStep"/>
      <xs:enumeration value="Power"/>
      <xs:enumeration value="FoldedPower"/>
      <xs:enumeration value="MovingAverage"/>
      <xs:enumeration value="Morlet"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of moving weighted average weights type -->
  <xs:simpleType name="MWAvgWeightsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exponential"/>
      <xs:enumeration value="Linear"/>
      <xs:enumeration value="Constant"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- Enumeration of available predictors -->
  <xs:simpleType name="PredictorIDType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Activation"/>
      <xs:enumeration value="ActivationSquare"/>
      <xs:enumeration value="ActivationFadingSum"/>
      <xs:enumeration value="ActivationMWAvg"/>
      <xs:enumeration value="FiringFadingSum"/>
      <xs:enumeration value="FiringMWAvg"/>
      <xs:enumeration value="FiringCount"/>
      <xs:enumeration value="FiringBinPattern"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of ODE numerical solver methods -->
  <xs:simpleType name="ODENumSolverMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Euler"/>
      <xs:enumeration value="RK4"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of neural task type -->
  <xs:simpleType name="NeuralTaskType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forecast"/>
      <xs:enumeration value="Classification"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Auto option-->
  <xs:simpleType name="AutoOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NA option-->
  <xs:simpleType name="NAOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NA"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NUMERIC TYPES -->
  <!-- Nonzero unsigned integer -->
  <xs:simpleType name="UIntGT0Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned integer GE 1 and LE 64-->
  <xs:simpleType name="UIntGE1LE64Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="64" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned integer GE 1 and LE 32-->
  <xs:simpleType name="UIntGE1LE32Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="32" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned integer GE 1 and LE 1024-->
  <xs:simpleType name="UIntGE1LE1024Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="1024" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned integer GE 2 and LE 64-->
  <xs:simpleType name="UIntGE2LE64Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="2" />
      <xs:maxInclusive value="64" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned integer greater than 1-->
  <xs:simpleType name="UIntGT1Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="2" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned integer greater than 2-->
  <xs:simpleType name="UIntGT2Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="3" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned integer greater than 3-->
  <xs:simpleType name="UIntGT3Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="4" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned integer greater equal to 2 and less equal to 18-->
  <xs:simpleType name="UIntGE2LE18Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="2" />
      <xs:maxInclusive value="18" />
    </xs:restriction>
  </xs:simpleType>

  <!-- UIntGT0Type with Auto option-->
  <xs:simpleType name="UIntGT0AutoOptionType">
    <xs:union memberTypes="UIntGT0Type AutoOptionType"/>
  </xs:simpleType>

  <!-- UIntGT1Type with Auto option-->
  <xs:simpleType name="UIntGT1AutoOptionType">
    <xs:union memberTypes="UIntGT1Type AutoOptionType"/>
  </xs:simpleType>

  <!-- Double with NA option-->
  <xs:simpleType name="DoubleNAOptionType">
    <xs:union memberTypes="xs:double NAOptionType"/>
  </xs:simpleType>

  <!-- Double LT 0 -->
  <xs:simpleType name="DoubleLT0Type">
    <xs:restriction base="xs:double">
      <xs:maxExclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double -->
  <xs:simpleType name="UDoubleType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Double not EQ 0 -->
  <xs:simpleType name="DoubleNotEq0Type">
    <xs:union memberTypes="DoubleLT0Type UDoubleGT0Type"/>
  </xs:simpleType>

  <!-- Unsigned double GT 0-->
  <xs:simpleType name="UDoubleGT0Type">
    <xs:restriction base="xs:double">
      <xs:minExclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double GT 0 LT 1-->
  <xs:simpleType name="UDoubleGT0LT1Type">
    <xs:restriction base="xs:double">
      <xs:minExclusive value="0" />
      <xs:maxExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double GE 0 LT 1-->
  <xs:simpleType name="UDoubleLT1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- UDoubleGT0Type with NA option-->
  <xs:simpleType name="UDoubleGT0NAOptionType">
    <xs:union memberTypes="UDoubleGT0Type NAOptionType"/>
  </xs:simpleType>

  <!-- Unsigned double GE 1-->
  <xs:simpleType name="UDoubleGE1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double greater than 1 -->
  <xs:simpleType name="UDoubleGT1Type">
    <xs:restriction base="xs:double">
      <xs:minExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double less than or equal 1 -->
  <xs:simpleType name="UDoubleLE1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- COMPLEX TYPES -->
  <!-- Alone name element -->
  <xs:complexType name="AloneNameType">
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>


  <!-- Coordinates - configuration -->
  <xs:complexType name="CoordinatesType">
    <xs:attribute type="xs:int" name="x" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:int" name="y" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:int" name="z" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Proportions - configuration -->
  <xs:complexType name="ProportionsType">
    <xs:attribute type="UIntGT0Type" name="dimX" use="required" />
    <xs:attribute type="UIntGT0Type" name="dimY" use="required" />
    <xs:attribute type="UIntGT0Type" name="dimZ" use="required" />
  </xs:complexType>

  <!-- Uniform distribution configuration element -->
  <xs:complexType name="UniformDistrType">
  </xs:complexType>

  <!-- Gaussian distribution configuration element -->
  <xs:complexType name="GaussianDistrType">
    <xs:attribute type="xs:double" name="mean" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleGT0Type" name="stdDev" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Exponential distribution configuration element -->
  <xs:complexType name="ExponentialDistrType">
    <xs:attribute type="DoubleNotEq0Type" name="mean" use="required"/>
  </xs:complexType>

  <!-- Gamma distribution configuration element -->
  <xs:complexType name="GammaDistrType">
    <xs:attribute type="UDoubleGT0Type" name="alpha" use="required"/>
    <xs:attribute type="UDoubleGT0Type" name="beta" use="required"/>
  </xs:complexType>

  <!-- Random value element -->
  <xs:complexType name="RandomValueType">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element type="UniformDistrType" name="uniformDistr" minOccurs="1" maxOccurs="1"/>
      <xs:element type="GaussianDistrType" name="gaussianDistr" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ExponentialDistrType" name="exponentialDistr" minOccurs="1" maxOccurs="1"/>
      <xs:element type="GammaDistrType" name="gammaDistr" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="xs:double" name="min" use="required"/>
    <xs:attribute type="xs:double" name="max" use="required"/>
    <xs:attribute type="xs:boolean" name="randomSign" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Unsigned gaussian distribution configuration element -->
  <xs:complexType name="UGaussianDistrType">
    <xs:attribute type="UDoubleGT0Type" name="mean" use="optional" default="0.5">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.5</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleGT0Type" name="stdDev" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Unsigned Exponential distribution configuration element -->
  <xs:complexType name="UExponentialDistrType">
    <xs:attribute type="UDoubleGT0Type" name="mean" use="required"/>
  </xs:complexType>

  <!-- Unsigned random value element -->
  <xs:complexType name="URandomValueType">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element type="UniformDistrType" name="uniformDistr" minOccurs="1" maxOccurs="1"/>
      <xs:element type="UGaussianDistrType" name="gaussianDistr" minOccurs="1" maxOccurs="1"/>
      <xs:element type="UExponentialDistrType" name="exponentialDistr" minOccurs="1" maxOccurs="1"/>
      <xs:element type="GammaDistrType" name="gammaDistr" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="UDoubleType" name="min" use="required"/>
    <xs:attribute type="UDoubleGT0Type" name="max" use="required"/>
  </xs:complexType>

  <!-- Parameter value seeker - configuration -->
  <xs:complexType name="ParamSeekerType">
    <xs:attribute type="xs:double" name="min" use="required"/>
    <xs:attribute type="xs:double" name="max" use="required"/>
    <xs:attribute type="UIntGT1Type" name="steps" use="required"/>
  </xs:complexType>

  <!-- ________________________________________SIGNAL GENERATORS TYPES_____________________________________________ -->

  <!-- Pulse generator configuration element -->
  <xs:complexType name="PulseGeneratorType">
    <xs:attribute type="xs:double" name="signal" use="required"/>
    <xs:attribute type="UDoubleGE1Type" name="avgPeriod" use="required"/>
    <xs:attribute type="PulseGeneratorModeType" name="mode" use="required"/>
  </xs:complexType>

  <!-- Sinusoidal generator configuration element -->
  <xs:complexType name="SinusoidalGeneratorType">
    <xs:attribute type="xs:double" name="phase" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:double" name="freq" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:double" name="ampl" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Mackey Glass generator configuration element -->
  <xs:complexType name="MackeyGlassGeneratorType">
    <xs:attribute type="UIntGE2LE18Type" name="tau" use="optional" default="18">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 18</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:double" name="b" use="optional" default="0.1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:double" name="c" use="optional" default="0.2">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <!-- ________________________________________SPIKING ACTIVATION TYPES_____________________________________________ -->

  <!-- Activation SimpleIF configuration element -->
  <xs:complexType name="ActivationSimpleIFType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="resistance" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 15</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="decayRate" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 0.05</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="resetV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 5</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="firingThresholdV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 20</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Activation LeakyIF configuration element -->
  <xs:complexType name="ActivationLeakyIFType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="timeScale" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 8</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="resistance" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 10</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="restV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -70</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="resetV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -65</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -50</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Euler</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="2">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Activation ExpIF configuration element -->
  <xs:complexType name="ActivationExpIFType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="timeScale" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 12</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="resistance" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 20</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="restV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -65</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="resetV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -60</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="rheobaseV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -55</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -30</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="sharpnessDeltaT" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 2</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Euler</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="2">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Activation AdExpIF configuration element -->
  <xs:complexType name="ActivationAdExpIFType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="timeScale" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 5</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="resistance" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 500</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="restV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -70</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="resetV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -51</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="rheobaseV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -50</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -30</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="sharpnessDeltaT" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="adaptationVoltageCoupling" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 0.5</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="adaptationTimeConstant" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 100</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="adaptationSpikeTriggeredIncrement" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 7</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Euler</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="2">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Activation IzhikevichIF configuration element -->
  <xs:complexType name="ActivationIzhikevichIFType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="recoveryTimeScale" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 0.02</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="recoverySensitivity" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 0.2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="URandomValueType" name="recoveryReset" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="restV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -70</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="resetV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is -65</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 30</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Euler</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="2">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Activation AutoIzhikevichIF configuration element -->
  <xs:complexType name="ActivationAutoIzhikevichIFType">
    <xs:attribute type="NeuronRoleType" name="role" use="required"/>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Euler</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="2">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- ________________________________________ANALOG ACTIVATION TYPES_____________________________________________ -->

  <!-- Activation SQNL configuration element -->
  <xs:complexType name="ActivationSQNLType">
  </xs:complexType>

  <!-- Activation BentIdentity configuration element -->
  <xs:complexType name="ActivationBentIdentityType">
  </xs:complexType>

  <!-- Activation Elliot configuration element -->
  <xs:complexType name="ActivationElliotType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="slope" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 1</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Activation Gaussian configuration element -->
  <xs:complexType name="ActivationGaussianType">
  </xs:complexType>

  <!-- Activation Identity configuration element -->
  <xs:complexType name="ActivationIdentityType">
  </xs:complexType>

  <!-- Activation ISRU configuration element -->
  <xs:complexType name="ActivationISRUType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="alpha" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 1</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Activation LeakyReLU configuration element -->
  <xs:complexType name="ActivationLeakyReLUType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="negSlope" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 0.05</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Activation Sigmoid configuration element -->
  <xs:complexType name="ActivationSigmoidType">
  </xs:complexType>

  <!-- Activation Sinc configuration element -->
  <xs:complexType name="ActivationSincType">
  </xs:complexType>

  <!-- Activation Sinusoid configuration element -->
  <xs:complexType name="ActivationSinusoidType">
  </xs:complexType>

  <!-- Activation SoftExponential configuration element -->
  <xs:complexType name="ActivationSoftExponentialType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="alpha" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Typical value is 1</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Activation SoftPlus configuration element -->
  <xs:complexType name="ActivationSoftPlusType">
  </xs:complexType>

  <!-- Activation TanH configuration element -->
  <xs:complexType name="ActivationTanHType">
  </xs:complexType>


  <!-- ________________________________________FF NETWORK TYPES_________________________________________________ -->

  <!-- FF network - hidden layer - configuration -->
  <xs:complexType name="FFNetHiddenLayerType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="ActivationSQNLType" name="activationSQNL" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationBentIdentityType" name="activationBentIdentity" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationElliotType" name="activationElliot" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationGaussianType" name="activationGaussian" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationIdentityType" name="activationIdentity" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationISRUType" name="activationISRU" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationLeakyReLUType" name="activationLeakyReLU" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSigmoidType" name="activationSigmoid" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSincType" name="activationSinc" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSinusoidType" name="activationSinusoid" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSoftExponentialType" name="activationSoftExponential" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSoftPlusType" name="activationSoftPlus" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationTanHType" name="activationTanH" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="UIntGT0Type" name="neurons" use="required"/>
  </xs:complexType>

  <!-- FF network - hidden layers - configuration -->
  <xs:complexType name="FFNetHiddenLayersType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="FFNetHiddenLayerType" name="layer" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- FF network - QRD regression trainer - configuration -->
  <xs:complexType name="FFNetQRDRegrTrainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ParamSeekerType" name="noise" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The usual values are: min=0, max=0.1, steps=10</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="UIntGT0Type" name="attempts" use="required"/>
    <xs:attribute type="UIntGT0Type" name="attemptEpochs" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="noiseZeroMargin" use="optional" default="0.75">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.75</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- FF network - ridge regression trainer - configuration -->
  <xs:complexType name="FFNetRidgeRegrTrainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ParamSeekerType" name="lambda" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The usual values are: min=0, max=0.5, steps=10</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="UIntGT0Type" name="attemptEpochs" use="required"/>
  </xs:complexType>

  <!-- FF network - elastic net linear regression trainer - configuration -->
  <xs:complexType name="FFNetElasticRegrTrainerType">
    <xs:attribute type="UIntGT0Type" name="attemptEpochs" use="required"/>
    <xs:attribute type="UDoubleType" name="lambda" use="optional" default="1e-6">
      <xs:annotation>
        <xs:documentation xml:lang="en">The penalty to be applied. Default value is 1e-6</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleLE1Type" name="alpha" use="optional" default="0.5">
      <xs:annotation>
        <xs:documentation xml:lang="en">Ratio between Ridge and Lasso approach. Values between 0 and 1 inclusive, where 0 leads to full Ridge and 1 leads to full Lasso. Default value is 0.5</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- FF network - resilient propagation trainer - configuration -->
  <xs:complexType name="FFNetRPropTrainerType">
    <xs:attribute type="UIntGT0Type" name="attempts" use="required"/>
    <xs:attribute type="UIntGT0Type" name="attemptEpochs" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="zeroTolerance" use="optional" default="1E-17">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1E-17</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleGT1Type" name="positiveEta" use="optional" default="1.2">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1.2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleLT1Type" name="negativeEta" use="optional" default="0.5">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.5</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="iniDelta" use="optional" default="0.1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="minDelta" use="optional" default="1E-6">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1E-6</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="maxDelta" use="optional" default="50">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 50</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- FF network configuration -->
  <xs:complexType name="FFNetType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:choice minOccurs="1" maxOccurs="1">
          <xs:element type="ActivationSQNLType" name="activationSQNL" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationBentIdentityType" name="activationBentIdentity" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationElliotType" name="activationElliot" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationGaussianType" name="activationGaussian" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationIdentityType" name="activationIdentity" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationISRUType" name="activationISRU" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationLeakyReLUType" name="activationLeakyReLU" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSigmoidType" name="activationSigmoid" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSincType" name="activationSinc" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSinusoidType" name="activationSinusoid" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSoftExponentialType" name="activationSoftExponential" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSoftPlusType" name="activationSoftPlus" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationTanHType" name="activationTanH" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
        <xs:element type="FFNetHiddenLayersType" name="hiddenLayers" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="FFNetElasticRegrTrainerType" name="elasticRegrTrainer" minOccurs="1" maxOccurs="1"/>
        <xs:element type="FFNetQRDRegrTrainerType" name="qrdRegrTrainer" minOccurs="1" maxOccurs="1"/>
        <xs:element type="FFNetRidgeRegrTrainerType" name="ridgeRegrTrainer" minOccurs="1" maxOccurs="1"/>
        <xs:element type="FFNetRPropTrainerType" name="resPropTrainer" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>


  <!-- ________________________________________PP NETWORK TYPES_________________________________________________ -->

  <!-- Parallel Perceptron - p-delta rule trainer - configuration -->
  <xs:complexType name="PPNetPDeltaRuleTrainerType">
    <xs:attribute type="UIntGT0Type" name="attempts" use="required"/>
    <xs:attribute type="UIntGT0Type" name="attemptEpochs" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="iniLR" use="optional" default="0.01">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.01</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleGT1Type" name="incLR" use="optional" default="1.1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1.1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleLT1Type" name="decLR" use="optional" default="0.5">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.5</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleLT1Type" name="minLR" use="optional" default="1E-4">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1E-4</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleLT1Type" name="maxLR" use="optional" default="0.1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="PPNetType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="PPNetPDeltaRuleTrainerType" name="pDeltaRuleTrainer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UIntGT0Type" name="gates" use="optional" default="3">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 3</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="resolution" use="optional" default="2">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 2 (binary resolution)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- ________________________________________FEATURE FILTERS TYPES_____________________________________________ -->

  <!-- Binary feature filter configuration element -->
  <xs:complexType name="BinFeatureFilterType">
  </xs:complexType>

  <!-- Standard enumeration feature filter configuration element -->
  <xs:complexType name="EnumFeatureFilterType">
    <xs:attribute type="UIntGT0Type" name="numOfElements" use="required"/>
  </xs:complexType>

  <!-- Real number feature filter configuration element -->
  <xs:complexType name="RealFeatureFilterType">
    <xs:attribute type="xs:boolean" name="standardize" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="keepReserve" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="keepSign" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- ________________________________________SYNAPSE TYPES_________________________________________________ -->

  <!-- Synapse - Plasticity - excitatory to excitatory dynamics - configuration -->
  <xs:complexType name="SynapseDynamicsEEType">
    <xs:attribute type="UDoubleLE1Type" name="restingEfficacy" use="optional" default="0.5">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.5 (expreses average probability of neurotransmitter release)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="tauDepression" use="optional" default="1100">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1100 ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="tauFacilitation" use="optional" default="50">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 50 ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="apply" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Synapse - Plasticity - excitatory to inhibitory dynamics - configuration -->
  <xs:complexType name="SynapseDynamicsEIType">
    <xs:attribute type="UDoubleLE1Type" name="restingEfficacy" use="optional" default="0.05">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.05 (expreses average probability of neurotransmitter release)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="tauDepression" use="optional" default="125">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 125 ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="tauFacilitation" use="optional" default="1200">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1200 ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="apply" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Synapse - Plasticity - inhibitory to excitatory dynamics - configuration -->
  <xs:complexType name="SynapseDynamicsIEType">
    <xs:attribute type="UDoubleLE1Type" name="restingEfficacy" use="optional" default="0.25">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.25 (expreses average probability of neurotransmitter release)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="tauDepression" use="optional" default="700">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 700 ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="tauFacilitation" use="optional" default="20">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 20 ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="apply" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Synapse - Plasticity - inhibitory to inhibitory dynamics - configuration -->
  <xs:complexType name="SynapseDynamicsIIType">
    <xs:attribute type="UDoubleLE1Type" name="restingEfficacy" use="optional" default="0.32">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.32 (expreses average probability of neurotransmitter release)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="tauDepression" use="optional" default="144">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 144 ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="tauFacilitation" use="optional" default="60">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 60 ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="apply" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Synapse - Plasticity - configuration -->
  <xs:complexType name="SynapsePlasticityType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SynapseDynamicsEEType" name="dynamicsEE" minOccurs="0" maxOccurs="1"/>
      <xs:element type="SynapseDynamicsEIType" name="dynamicsEI" minOccurs="0" maxOccurs="1"/>
      <xs:element type="SynapseDynamicsIEType" name="dynamicsIE" minOccurs="0" maxOccurs="1"/>
      <xs:element type="SynapseDynamicsIIType" name="dynamicsII" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Synapse - Internal weights - configuration -->
  <xs:complexType name="SynapseInternalWeightsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="URandomValueType" name="weightAA" minOccurs="0" maxOccurs="1"/>
      <xs:element type="URandomValueType" name="weightAS" minOccurs="0" maxOccurs="1"/>
      <xs:element type="URandomValueType" name="weightSA" minOccurs="0" maxOccurs="1"/>
      <xs:element type="URandomValueType" name="weightSS" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleGT0NAOptionType" name="analogScopeSpectralRadius" use="optional" default="0.9999">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.9999. Use NA to disable spectral radius application.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleGT0NAOptionType" name="spikingScopeSpectralRadius" use="optional" default="NA">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.9999. Use NA to disable spectral radius application.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <!-- Synapse - configuration -->
  <xs:complexType name="SynapseType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SynapsePlasticityType" name="plasticity" minOccurs="0" maxOccurs="1"/>
      <xs:element type="SynapseInternalWeightsType" name="internalWeights" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="SynapticDelayMethodType" name="inputDelayMethod" use="optional" default="Random">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Random</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:unsignedInt" name="inputMaxDelay" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0. No delay.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="SynapticDelayMethodType" name="internalDelayMethod" use="optional" default="Random">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Random</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:unsignedInt" name="internalMaxDelay" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0. No delay.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <!-- ________________________________________NEURAL POOL TYPES_________________________________________________ -->

  <!-- Predictor ActivationFadingSum - configuration -->
  <xs:complexType name="PredictorActivationFadingSumType">
    <xs:attribute type="UDoubleLT1Type" name="strength" use="optional" default="0.1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Fading strength (GE0..LT1). Default value is 0.1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Predictor FiringFadingSum - configuration -->
  <xs:complexType name="PredictorFiringFadingSumType">
    <xs:attribute type="UDoubleLT1Type" name="strength" use="optional" default="0.005">
      <xs:annotation>
        <xs:documentation xml:lang="en">Fading strength (GE0..LT1). Default value is 0.005</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Predictor MWAvg - configuration -->
  <xs:complexType name="PredictorMWAvgType">
    <xs:attribute type="UIntGT0Type" name="window" use="optional" default="64">
      <xs:annotation>
        <xs:documentation xml:lang="en">Sliding window size (1..64 for Exp weights, 1..10240 for Lin weights and 1..N for Const weights). Default value is 64</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:unsignedInt" name="leakage" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Samples leakage. Default value is 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="MWAvgWeightsType" name="weights" use="optional" default="Exponential">
      <xs:annotation>
        <xs:documentation xml:lang="en">Sample weights. Default value is Exponential</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Predictor FiringCount - configuration -->
  <xs:complexType name="PredictorFiringCountType">
    <xs:attribute type="UIntGE1LE64Type" name="window" use="optional" default="64">
      <xs:annotation>
        <xs:documentation xml:lang="en">Sliding window size (1..64). Default value is 64</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Predictor FiringBinPattern - configuration -->
  <xs:complexType name="PredictorFiringBinPatternType">
    <xs:attribute type="UIntGE1LE32Type" name="window" use="optional" default="32">
      <xs:annotation>
        <xs:documentation xml:lang="en">Sliding window size (1..32). Default value is 32</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Predictors params - configuration -->
  <xs:complexType name="PredictorsParamsType">
    <xs:choice minOccurs="0" maxOccurs="6">
      <xs:element type="PredictorActivationFadingSumType" name="activationFadingSum" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PredictorMWAvgType" name="activationMWAvg" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PredictorFiringFadingSumType" name="firingFadingSum" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PredictorMWAvgType" name="firingMWAvg" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PredictorFiringCountType" name="firingCount" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PredictorFiringBinPatternType" name="firingBinPattern" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>

  <!-- Predictors - configuration -->
  <xs:complexType name="PredictorsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="PredictorsParamsType" name="params" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="activation" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Current activation state. Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="activationSquare" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Squared current activation state. Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="activationFadingSum" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Fading sum of activation states. Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="activationMWAvg" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Weighted moving average of activations. Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="firingFadingSum" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Fading sum of firings. Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="firingMWAvg" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Weighted moving average of firings. Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="firingCount" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Number of firings within the sliding window. Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="firingBinPattern" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Binary (0/1) firing sequence within the sliding window as an 32 bit unsigned int number. Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Connection distribution - custom - configuration -->
  <xs:complexType name="ConnDistrCustomType">
    <xs:attribute type="UDoubleType" name="relShareEE" use="required"/>
    <xs:attribute type="UDoubleType" name="relShareEI" use="required"/>
    <xs:attribute type="UDoubleType" name="relShareIE" use="required"/>
    <xs:attribute type="UDoubleType" name="relShareII" use="required"/>
  </xs:complexType>

  <!-- Connection distribution - flat - configuration -->
  <xs:complexType name="ConnDistrFlatType">
  </xs:complexType>

  <!-- Connection probabilities - lsm - configuration -->
  <xs:complexType name="ConnDistrLSMType">
  </xs:complexType>
  
  <!-- Connection distribution - random schema - configuration -->
  <xs:complexType name="PoolInterconnectionRandomSchemaType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="ConnDistrCustomType" name="distributionCustom" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ConnDistrFlatType" name="distributionFlat" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ConnDistrLSMType" name="distributionLSM" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="UDoubleLE1Type" name="density" use="optional" default="0.1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleGT0NAOptionType" name="avgDistance" use="optional" default="NA">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is NA</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="allowSelfConnection" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="constantNumOfConnections" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="replaceExistingConnections" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="repetitions" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Pool - interconnection - chain schema - configuration -->
  <xs:complexType name="PoolInterconnectionChainSchemaType">
    <xs:attribute type="UDoubleLE1Type" name="ratio" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="circle" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="replaceExistingConnections" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="repetitions" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Pool - interconnection - configuration -->
  <xs:complexType name="PoolInterconnectionType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element type="PoolInterconnectionRandomSchemaType" name="randomSchema" minOccurs="1" maxOccurs="1"/>
        <xs:element type="PoolInterconnectionChainSchemaType" name="chainSchema" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>


  <!-- Pool - spiking neuron group - configuration -->
  <xs:complexType name="PoolSpikingNeuronGroupType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="ActivationSimpleIFType" name="activationSimpleIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationLeakyIFType" name="activationLeakyIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationExpIFType" name="activationExpIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationAdExpIFType" name="activationAdExpIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationIzhikevichIFType" name="activationIzhikevichIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationAutoIzhikevichIFType" name="activationAutoIzhikevichIF" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:element type="RandomValueType" name="bias" minOccurs="0" maxOccurs="1"/>
      <xs:element type="PredictorsType" name="predictors" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="NeuronRoleType" name="role" use="required"/>
    <xs:attribute type="UDoubleType" name="relShare" use="required"/>
    <xs:attribute type="UDoubleType" name="readoutDensity" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Pool - analog neuron group - retainment - configuration -->
  <xs:complexType name="PoolAnalogNeuronGroupRetainmentType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="URandomValueType" name="strength" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleLE1Type" name="density" use="required"/>
  </xs:complexType>

  <!-- Pool - analog neuron group - configuration -->
  <xs:complexType name="PoolAnalogNeuronGroupType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="ActivationSQNLType" name="activationSQNL" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationElliotType" name="activationElliot" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationGaussianType" name="activationGaussian" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationISRUType" name="activationISRU" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationSigmoidType" name="activationSigmoid" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationSincType" name="activationSinc" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationSinusoidType" name="activationSinusoid" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationTanHType" name="activationTanH" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:element type="RandomValueType" name="bias" minOccurs="0" maxOccurs="1"/>
      <xs:element type="PoolAnalogNeuronGroupRetainmentType" name="retainment" minOccurs="0" maxOccurs="1"/>
      <xs:element type="PredictorsType" name="predictors" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="NeuronRoleType" name="role" use="required"/>
    <xs:attribute type="UDoubleType" name="relShare" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="firingThreshold" use="optional" default="0.00125">
      <xs:annotation>
        <xs:documentation xml:lang="en">A number between 0 and 1 (LT1). Every time the new normalized activation value is higher than the previous normalized activation value by at least the threshold, it is evaluated as a firing event. Default value is 0.00125.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="SignalingRestrictionType" name="signalingRestriction" use="optional" default="NoRestriction">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is NoRestriction</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleType" name="readoutDensity" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Pool - neuron groups - configuration -->
  <xs:complexType name="PoolNeuronGroupsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element type="PoolAnalogNeuronGroupType" name="analogGroup" minOccurs="1" maxOccurs="1"/>
        <xs:element type="PoolSpikingNeuronGroupType" name="spikingGroup" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- Pool configuration -->
  <xs:complexType name="PoolType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ProportionsType" name="proportions" minOccurs="1" maxOccurs="1"/>
      <xs:element type="CoordinatesType" name="coordinates" minOccurs="0" maxOccurs="1"/>
      <xs:element type="PoolNeuronGroupsType" name="neuronGroups" minOccurs="1" maxOccurs="1">
        <xs:unique name="unique_neuron_group_name">
          <xs:selector xpath="./*"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
      <xs:element type="PoolInterconnectionType" name="interconnection" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PredictorsType" name="predictors" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
  </xs:complexType>

  <!-- ________________________________________RESERVOIR STRUCTURE TYPES_________________________________________________ -->

  <!-- Reservoir structure - pools - configuration -->
  <xs:complexType name="ResStructPoolsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="PoolType" name="pool" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Reservoir structure - pool to pool connection - configuration -->
  <xs:complexType name="ResStructInterPoolConnectionType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="ConnDistrCustomType" name="distributionCustom" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ConnDistrFlatType" name="distributionFlat" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ConnDistrLSMType" name="distributionLSM" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="sourcePool" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="sourceConnDensity" use="required"/>
    <xs:attribute type="xs:string" name="targetPool" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="targetConnDensity" use="required"/>
    <xs:attribute type="xs:boolean" name="constantNumOfConnections" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Reservoir structure - inter pool connections - configuration -->
  <xs:complexType name="ResStructInterPoolConnectionsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ResStructInterPoolConnectionType" name="interPoolConnection" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Reservoir structure configuration -->
  <xs:complexType name="ResStructType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ResStructPoolsType" name="pools" minOccurs="1" maxOccurs="1">
        <xs:unique name="resstruct_unique_pool_name">
          <xs:selector xpath="./pool"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
      <xs:element type="ResStructInterPoolConnectionsType" name="interPoolConnections" minOccurs="0" maxOccurs="1">
        <xs:unique name="resstruct_unique_pool2pool">
          <xs:selector xpath="./interPoolConnection"/>
          <xs:field xpath="@srcPool"/>
          <xs:field xpath="@targetPool"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
  </xs:complexType>

  <!-- ________________________________________NEURAL PREPROCESSOR TYPES_________________________________________________ -->
  <!-- NeuralPreprocessor - continuous input feeding -configuration -->
  <xs:complexType name="NPInpFeedingContinuousType">
    <xs:attribute type="UIntGT0AutoOptionType" name="bootCycles" use="optional" default="Auto">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="routeToReadout" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- NeuralPreprocessor - patterned input feeding - resampling - configuration -->
  <xs:complexType name="NPResamplingType">
    <xs:attribute type="UDoubleLT1Type" name="signalBeginThreshold" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Threshold of signal begin detection. Default value is 0 (maximum sensitivity)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleLT1Type" name="signalEndThreshold" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Threshold of signal end detection. Default value is 0 (maximum sensitivity)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="uniformTimeScale" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT1AutoOptionType" name="targetTimePoints" use="optional" default="Auto">
      <xs:annotation>
        <xs:documentation xml:lang="en">Number of time-points of the resampled pattern (resampled pattern length). Default value is Auto (keeps original time points)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- NeuralPreprocessor - patterned input feeding - unification - configuration -->
  <xs:complexType name="NPUnificationType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPResamplingType" name="resampling" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="detrend" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="unifyAmplitude" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <!-- NeuralPreprocessor - patterned input feeding -configuration -->
  <xs:complexType name="NPInpFeedingPatternedType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPUnificationType" name="unification" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="bidir" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specifies if to preprocess time series pattern in both time directions (doubles predictors). Default value is false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="routeToReadout" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false. If true is specified, all patterns have to have the same length.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="VariablesSchemaType" name="variablesSchema" use="optional" default="Groupped">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Groupped.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- NeuralPreprocessor - external input field -configuration -->
  <xs:complexType name="NPExternalInpFieldType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="BinFeatureFilterType" name="binFeature" minOccurs="0" maxOccurs="1"/>
      <xs:element type="EnumFeatureFilterType" name="enumFeature" minOccurs="0" maxOccurs="1"/>
      <xs:element type="RealFeatureFilterType" name="realFeature" minOccurs="0" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:boolean" name="routeToReadout" use="optional" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is true</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- NeuralPreprocessor - external input fields -configuration -->
  <xs:complexType name="NPExternalInpFieldsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPExternalInpFieldType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- NeuralPreprocessor - internal input field -configuration -->
  <xs:complexType name="NPInternalInpFieldType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="PulseGeneratorType" name="pulse" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="random" minOccurs="1" maxOccurs="1"/>
      <xs:element type="SinusoidalGeneratorType" name="sinusoidal" minOccurs="1" maxOccurs="1"/>
      <xs:element type="MackeyGlassGeneratorType" name="mackeyGlass" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:boolean" name="routeToReadout" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- NeuralPreprocessor - internal input fields -configuration -->
  <xs:complexType name="NPInternalInpFieldsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPInternalInpFieldType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>


  <!-- NeuralPreprocessor - input fields- configuration -->
  <xs:complexType name="NPInpFieldsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPExternalInpFieldsType" name="externalFields" minOccurs="1" maxOccurs="1"/>
      <xs:element type="NPInternalInpFieldsType" name="internalFields" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- NeuralPreprocessor - input -configuration -->
  <xs:complexType name="NPInputType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="NPInpFeedingContinuousType" name="feedingContinuous" minOccurs="1" maxOccurs="1"/>
        <xs:element type="NPInpFeedingPatternedType" name="feedingPatterned" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:element type="NPInpFieldsType" name="fields" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- NeuralPreprocessor - reservoir structures -->
  <xs:complexType name="NPResStructsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ResStructType" name="reservoirStructure" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Input synapse types-->
  <xs:complexType name="NPResInstanceInputUnitConnectionSpikingTargetType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="weight" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="SynapticTargetScopeType" name="scope" use="optional" default="Excitatory">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Excitatory (connect only excitatory neurons)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleLE1Type" name="density" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="NPResInstanceInputUnitConnectionAnalogTargetType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="URandomValueType" name="weight" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="SynapticTargetScopeType" name="scope" use="optional" default="All">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is All (inhibitory and excitatory neurons)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleLE1Type" name="density" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- NeuralPreprocessor - reservoir instance - input unit - connection - configuration -->
  <xs:complexType name="NPResInstanceInputUnitConnectionType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPResInstanceInputUnitConnectionSpikingTargetType" name="spikingTarget" minOccurs="0" maxOccurs="1"/>
      <xs:element type="NPResInstanceInputUnitConnectionAnalogTargetType" name="analogTarget" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="poolName" use="required"/>
    <xs:attribute type="AnalogCodingMethodType" name="coding" use="optional" default="Actual">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Actual</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="oppositeAmplitude" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is false</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="SignalingRestrictionType" name="signalingRestriction" use="optional" default="AnalogOnly">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is AnalogOnly</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- NeuralPreprocessor - reservoir instance - input unit - connections - configuration -->
  <xs:complexType name="NPResInstanceInputUnitConnectionsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element type="NPResInstanceInputUnitConnectionType" name="connection" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- NeuralPreprocessor - reservoir instance - input unit - configuration -->
  <xs:complexType name="NPResInstanceInputUnitType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="CoordinatesType" name="coordinates" minOccurs="0" maxOccurs="1"/>
      <xs:element type="NPResInstanceInputUnitConnectionsType" name="connections" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="inputFieldName" use="required"/>
    <xs:attribute type="UIntGE1LE32Type" name="spikeTrainLength" use="optional" default="8">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 8</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGE1LE1024Type" name="differenceDistance" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT1Type" name="numOfLinearSteps" use="optional" default="16">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 16</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleGT0Type" name="powerExponent" use="optional" default="0.5">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.5</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UDoubleGT0Type" name="foldedPowerExponent" use="optional" default="0.5">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0.5</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGE1LE1024Type" name="movingAverageLength" use="optional" default="5">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 5</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- NeuralPreprocessor - reservoir instance - input units - configuration -->
  <xs:complexType name="NPResInstanceInputUnitsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPResInstanceInputUnitType" name="inputUnit" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- NeuralPreprocessor - reservoir instance - configuration -->
  <xs:complexType name="NPResInstanceType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPResInstanceInputUnitsType" name="inputUnits" minOccurs="1" maxOccurs="1">
        <xs:unique name="resinst_unique_input_unit">
          <xs:selector xpath=".//inputUnit"/>
          <xs:field xpath="@inputFieldName"/>
        </xs:unique>
      </xs:element>
      <xs:element type="SynapseType" name="synapse" minOccurs="0" maxOccurs="1"/>
      <xs:element type="PredictorsType" name="predictors" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="xs:string" name="reservoirStructure" use="required" />
  </xs:complexType>

  <!-- NeuralPreprocessor - reservoir instances -->
  <xs:complexType name="NPResInstancesType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPResInstanceType" name="reservoirInstance" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- NeuralPreprocessor configuration -->
  <xs:complexType name="NPType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPInputType" name="input" minOccurs="1" maxOccurs="1">
        <xs:unique name="np_unique_input_field_name">
          <xs:selector xpath=".//field"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
      <xs:element type="NPResStructsType" name="reservoirStructures" minOccurs="1" maxOccurs="1">
        <xs:unique name="np_unique_resstruct_name">
          <xs:selector xpath="./reservoirStructure"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
      <xs:element type="NPResInstancesType" name="reservoirInstances" minOccurs="1" maxOccurs="1">
        <xs:unique name="np_unique_resinst_name">
          <xs:selector xpath="./reservoirInstance"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="UDoubleLT1Type" name="predictorsReductionRatio" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specifies how many predictors having smallest rescalled range to be disabled. Default value is 0.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- ________________________________________READOUT LAYER TYPES_________________________________________________ -->

  <!-- Readout unit classification networks configuration -->
  <xs:complexType name="ROutLayerUnitClassificationNetworksType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element type="FFNetType" name="ff" minOccurs="0" maxOccurs="1"/>
        <xs:element type="PPNetType" name="pp" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- Readout unit forecast networks configuration -->
  <xs:complexType name="ROutLayerUnitForecastNetworksType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="FFNetType" name="ff" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Readout unit default networks configuration -->
  <xs:complexType name="ROutLayerUnitDefaultNetworksType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ROutLayerUnitClassificationNetworksType" name="classification" minOccurs="0" maxOccurs="1"/>
      <xs:element type="ROutLayerUnitForecastNetworksType" name="forecast" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Readout unit forecast task configuration -->
  <xs:complexType name="ROutLayerUnitForecastTaskType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="BinFeatureFilterType" name="binFeature" minOccurs="1" maxOccurs="1"/>
        <xs:element type="EnumFeatureFilterType" name="enumFeature" minOccurs="1" maxOccurs="1"/>
        <xs:element type="RealFeatureFilterType" name="realFeature" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:element type="ROutLayerUnitForecastNetworksType" name="networks" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Readout unit classification task configuration -->
  <xs:complexType name="ROutLayerUnitClassificationTaskType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ROutLayerUnitClassificationNetworksType" name="networks" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="oneWinnerGroupName" use="optional" default="NA">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specifies the membership in a group of classes where only one can win. Default value is NA (not applicable, ie. stand-alone class).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Readout unit configuration -->
  <xs:complexType name="ROutLayerUnitType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="ROutLayerUnitForecastTaskType" name="forecast" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ROutLayerUnitClassificationTaskType" name="classification" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <!-- Readout units configuration -->
  <xs:complexType name="ROutLayerUnitsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ROutLayerUnitType" name="readoutUnit" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Readout layer configuration -->
  <xs:complexType name="ROutLayerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ROutLayerUnitDefaultNetworksType" name="defaultNetworks" minOccurs="0" maxOccurs="1"/>
      <xs:element type="ROutLayerUnitsType" name="readoutUnits" minOccurs="1" maxOccurs="1">
        <xs:unique name="rol_unique_readout_unit">
          <xs:selector xpath="./readoutUnit"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="testDataRatio" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:double">
          <xs:minExclusive value="0" />
          <xs:maxInclusive value="0.5" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute type="UIntGT0AutoOptionType" name="folds" use="optional" default="Auto">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is Auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="UIntGT0Type" name="repetitions" use="optional" default="1">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <!-- ________________________________________STATE MACHINE TYPES_________________________________________________ -->
  <!-- StateMachine - Mapper - Allowed predictor - configuration -->
  <xs:complexType name="SMMapperAllowedPredictorType">
    <xs:attribute type="PredictorIDType" name="name" use="required"/>
  </xs:complexType>

  <!-- StateMachine - Mapper - Allowed predictors - configuration -->
  <xs:complexType name="SMMapperAllowedPredictorsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SMMapperAllowedPredictorType" name="predictor" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- StateMachine - Mapper - Allowed pool - configuration -->
  <xs:complexType name="SMMapperAllowedPoolType">
    <xs:attribute type="xs:string" name="reservoirInstanceName" use="required"/>
    <xs:attribute type="xs:string" name="poolName" use="required"/>
  </xs:complexType>
  
  <!-- StateMachine - Mapper - Allowed pools - configuration -->
  <xs:complexType name="SMMapperAllowedPoolsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SMMapperAllowedPoolType" name="pool" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- StateMachine - Mapper - Allowed input field - configuration -->
  <xs:complexType name="SMMapperAllowedInputFieldType">
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <!-- StateMachine - Mapper - Allowed input fields - configuration -->
  <xs:complexType name="SMMapperAllowedInputFieldsType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SMMapperAllowedInputFieldType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- StateMachine - Mapper - Readout unit map - configuration -->
  <xs:complexType name="SMMapperReadoutUnitMapType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SMMapperAllowedPredictorsType" name="allowedPredictors" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="SMMapperAllowedPoolsType" name="allowedPools" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="SMMapperAllowedInputFieldsType" name="allowedInputFields" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="readoutUnitName" use="required"/>
  </xs:complexType>

  <!-- StateMachine - Mapper - configuration -->
  <xs:complexType name="SMMapperType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SMMapperReadoutUnitMapType" name="map" minOccurs="1" maxOccurs="unbounded">
        <xs:unique name="smm_unique_allowed_resinst_pool">
          <xs:selector xpath="./allowedPools/pool"/>
          <xs:field xpath="@reservoirInstanceName"/>
          <xs:field xpath="@poolName"/>
        </xs:unique>
        <xs:unique name="smm_unique_allowed_input_field">
          <xs:selector xpath="./allowedInputFields/field"/>
          <xs:field xpath="@name"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- StateMachine configuration -->
  <xs:complexType name="SMType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="NPType" name="neuralPreprocessor" minOccurs="0" maxOccurs="1">
        <xs:key name="np_input_field">
          <xs:selector xpath="./input/*/field"/>
          <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="np_rescfg_name">
          <xs:selector xpath="./reservoirStructures/reservoirStructure"/>
          <xs:field xpath="@name"/>
        </xs:key>
        <xs:keyref name="iconn_existing_input_field" refer="np_input_field">
          <xs:selector xpath="./reservoirInstances/reservoirInstance/inputConnections/inputConnection" />
          <xs:field xpath="@fieldName" />
        </xs:keyref>
        <xs:keyref name="iunit_existing_input_field" refer="np_input_field">
          <xs:selector xpath="./reservoirInstances/reservoirInstance/inputUnits/inputUnit" />
          <xs:field xpath="@fieldName" />
        </xs:keyref>
        <xs:keyref name="resinst_existing_rescfg" refer="np_rescfg_name">
          <xs:selector xpath="./reservoirInstances/reservoirInstance" />
          <xs:field xpath="@reservoirStructure" />
        </xs:keyref>
      </xs:element>
      <xs:element type="ROutLayerType" name="readoutLayer" minOccurs="1" maxOccurs="1"/>
      <xs:element type="SMMapperType" name="mapper" minOccurs="0" maxOccurs="1">
        <xs:unique name="unique_readout_unit_name">
          <xs:selector xpath="./map"/>
          <xs:field xpath="@readoutUnitName"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:int" name="randomizerSeek" use="optional" default="0">
      <xs:annotation>
        <xs:documentation xml:lang="en">Default value is 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

</xs:schema>

