RCNet/RCNetTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="RCNetTypes"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           xmlns="RCNetTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           >

  <!-- ________________________________________LOW LEVEL TYPES_________________________________________________ -->
  <!-- SIMPLE TYPES -->
  <!-- ENUMERATION TYPES -->
  <!-- Enumeration of data normalization range -->
  <xs:simpleType name="DataNormalizationRangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inclusive_0_Pos1"/>
      <xs:enumeration value="Inclusive_Neg1_Pos1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of random distribution -->
  <xs:simpleType name="RandomDistributionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Uniform"/>
      <xs:enumeration value="Gaussian"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of neuron role -->
  <xs:simpleType name="NeuronRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Excitatory"/>
      <xs:enumeration value="Inhibitory"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of input coding type -->
  <xs:simpleType name="InputCodingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Analog"/>
      <xs:enumeration value="SpikeTrain"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of ODE numerical solver methods -->
  <xs:simpleType name="ODENumSolverMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Euler"/>
      <xs:enumeration value="RK4"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of neural task type -->
  <xs:simpleType name="NeuralTaskType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Prediction"/>
      <xs:enumeration value="Classification"/>
      <xs:enumeration value="Hybrid"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Auto option-->
  <xs:simpleType name="AutoOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NA option-->
  <xs:simpleType name="NAOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NA"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NUMERIC TYPES -->
  <!-- Nonzero unsigned integer -->
  <xs:simpleType name="UIntGT0Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- UIntGT0Type with Auto option-->
  <xs:simpleType name="UIntGT0AutoOptionType">
    <xs:union memberTypes="UIntGT0Type AutoOptionType"/>
  </xs:simpleType>

  <!-- Unsigned double -->
  <xs:simpleType name="UDoubleType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double GT 0-->
  <xs:simpleType name="UDoubleGT0Type">
    <xs:restriction base="xs:double">
      <xs:minExclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Double with NA option-->
  <xs:simpleType name="DoubleNAOptionType">
    <xs:union memberTypes="xs:double NAOptionType"/>
  </xs:simpleType>

  <!-- UDoubleGT0Type with NA option-->
  <xs:simpleType name="UDoubleGT0NAOptionType">
    <xs:union memberTypes="UDoubleGT0Type NAOptionType"/>
  </xs:simpleType>

  <!-- Unsigned double less than 1 -->
  <xs:simpleType name="UDoubleLT1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double greater than 1 -->
  <xs:simpleType name="UDoubleGT1Type">
    <xs:restriction base="xs:double">
      <xs:minExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double less than or equal 1 -->
  <xs:simpleType name="UDoubleLE1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- COMPLEX TYPES -->
  <!-- Alone name element -->
  <xs:complexType name="AloneNameType">
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <!-- Gaussian distribution configuration element -->
  <xs:complexType name="GaussianDistrCfgType">
    <xs:attribute type="xs:double" name="mean" use="required"/>
    <xs:attribute type="xs:double" name="stdDev" use="required"/>
  </xs:complexType>

  <!-- Random value element -->
  <xs:complexType name="RandomValueType">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element type="GaussianDistrCfgType" name="gaussianDistr" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="xs:double" name="min" use="required"/>
    <xs:attribute type="xs:double" name="max" use="required"/>
    <xs:attribute type="xs:boolean" name="randomSign" use="optional" default="false"/>
    <xs:attribute type="RandomDistributionType" name="distribution" use="optional" default="Uniform"/>
  </xs:complexType>
  
  
  <!-- Spiking activation functions configurations-->
  <!-- Activation SimpleIF configuration element -->
  <xs:complexType name="ActivationSimpleIFCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="resistance" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="decayRate" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="resetV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleType" name="stimuliCoeff" use="optional" default="1"/>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="0"/>
  </xs:complexType>

  <!-- Activation LeakyIF configuration element -->
  <xs:complexType name="ActivationLeakyIFCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="timeScale" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="resistance" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="restV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="resetV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleType" name="stimuliCoeff" use="optional" default="5.5"/>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="1"/>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler"/>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="2"/>
  </xs:complexType>

  <!-- Activation ExpIF configuration element -->
  <xs:complexType name="ActivationExpIFCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="timeScale" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="resistance" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="restV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="resetV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="rheobaseV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="sharpnessDeltaT" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleType" name="stimuliCoeff" use="optional" default="5.5"/>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="1"/>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler"/>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="2"/>
  </xs:complexType>

  <!-- Activation AdExpIF configuration element -->
  <xs:complexType name="ActivationAdExpIFCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="timeScale" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="resistance" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="restV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="resetV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="rheobaseV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="sharpnessDeltaT" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="adaptationVoltageCoupling" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="adaptationTimeConstant" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="adaptationSpikeTriggeredIncrement" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleType" name="stimuliCoeff" use="optional" default="150"/>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler"/>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="2"/>
  </xs:complexType>

  <!-- Activation IzhikevichIF configuration element -->
  <xs:complexType name="ActivationIzhikevichIFCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="recoveryTimeScale" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="recoverySensitivity" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="recoveryReset" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="restV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="resetV" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="firingThresholdV" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleType" name="stimuliCoeff" use="optional" default="10"/>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="0"/>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler"/>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="1"/>
  </xs:complexType>

  <!-- Activation AutoIzhikevichIF configuration element -->
  <xs:complexType name="ActivationAutoIzhikevichIFCfgType">
    <xs:attribute type="UDoubleType" name="stimuliCoeff" use="optional" default="35"/>
    <xs:attribute type="NeuronRoleType" name="role" use="required"/>
    <xs:attribute type="xs:unsignedInt" name="refractoryPeriods" use="optional" default="0"/>
    <xs:attribute type="ODENumSolverMethodType" name="solverMethod" use="optional" default="Euler"/>
    <xs:attribute type="UIntGT0Type" name="solverCompSteps" use="optional" default="1"/>
  </xs:complexType>

  <!-- Analog activation functions configurations-->
  <!-- Activation BentIdentity configuration element -->
  <xs:complexType name="ActivationBentIdentityCfgType">
  </xs:complexType>

  <!-- Activation Elliot configuration element -->
  <xs:complexType name="ActivationElliotCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="slope" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Activation Gaussian configuration element -->
  <xs:complexType name="ActivationGaussianCfgType">
  </xs:complexType>

  <!-- Activation Identity configuration element -->
  <xs:complexType name="ActivationIdentityCfgType">
  </xs:complexType>

  <!-- Activation ISRU configuration element -->
  <xs:complexType name="ActivationISRUCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="alpha" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Activation LeakyReLU configuration element -->
  <xs:complexType name="ActivationLeakyReLUCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="negSlope" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Activation Sigmoid configuration element -->
  <xs:complexType name="ActivationSigmoidCfgType">
  </xs:complexType>

  <!-- Activation Sinc configuration element -->
  <xs:complexType name="ActivationSincCfgType">
  </xs:complexType>

  <!-- Activation Sinusoid configuration element -->
  <xs:complexType name="ActivationSinusoidCfgType">
  </xs:complexType>

  <!-- Activation SoftExponential configuration element -->
  <xs:complexType name="ActivationSoftExponentialCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="alpha" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Activation SoftPlus configuration element -->
  <xs:complexType name="ActivationSoftPlusCfgType">
  </xs:complexType>

  <!-- Activation TanH configuration element -->
  <xs:complexType name="ActivationTanHCfgType">
  </xs:complexType>


  <!-- ________________________________________FF NETWORK TYPES_________________________________________________ -->
  <!-- FF network - regression (training) methods - enumeration -->
  <xs:simpleType name="FFNetRegressionMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Linear"/>
      <xs:enumeration value="Resilient"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- FF network - hidden layer - configuration -->
  <xs:complexType name="FFNetHiddenLayerCfgType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="ActivationBentIdentityCfgType" name="activationBentIdentity" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationElliotCfgType" name="activationElliot" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationGaussianCfgType" name="activationGaussian" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationIdentityCfgType" name="activationIdentity" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationISRUCfgType" name="activationISRU" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationLeakyReLUCfgType" name="activationLeakyReLU" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSigmoidCfgType" name="activationSigmoid" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSincCfgType" name="activationSinc" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSinusoidCfgType" name="activationSinusoid" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSoftExponentialCfgType" name="activationSoftExponential" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationSoftPlusCfgType" name="activationSoftPlus" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ActivationTanHCfgType" name="activationTanH" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="UIntGT0Type" name="neurons" use="required"/>
  </xs:complexType>

  <!-- FF network - hidden layers - configuration -->
  <xs:complexType name="FFNetHiddenLayersCfgType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="FFNetHiddenLayerCfgType" name="layer" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- FF network - linear regression trainer - configuration -->
  <xs:complexType name="FFNetLinRegrTrainerCfgType">
    <xs:attribute type="UDoubleLT1Type" name="hiNoiseIntensity" use="required"/>
    <xs:attribute type="UDoubleGT1Type" name="maxStretch" use="optional" default="8"/>
    <xs:attribute type="UDoubleLT1Type" name="zeroMargin" use="required"/>
  </xs:complexType>

  <!-- FF network - resilient propagation trainer - configuration -->
  <xs:complexType name="FFNetRPropTrainerCfgType">
    <xs:attribute type="UDoubleLT1Type" name="zeroTolerance" use="required"/>
    <xs:attribute type="UDoubleGT1Type" name="positiveEta" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="negativeEta" use="required"/>
    <xs:attribute type="UDoubleType" name="iniDelta" use="required"/>
    <xs:attribute type="UDoubleType" name="minDelta" use="required"/>
    <xs:attribute type="UDoubleType" name="maxDelta" use="required"/>
  </xs:complexType>

  <!-- FF network configuration -->
  <xs:complexType name="FFNetCfgType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:choice minOccurs="1" maxOccurs="1">
          <xs:element type="ActivationBentIdentityCfgType" name="activationBentIdentity" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationElliotCfgType" name="activationElliot" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationGaussianCfgType" name="activationGaussian" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationIdentityCfgType" name="activationIdentity" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationISRUCfgType" name="activationISRU" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationLeakyReLUCfgType" name="activationLeakyReLU" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSigmoidCfgType" name="activationSigmoid" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSincCfgType" name="activationSinc" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSinusoidCfgType" name="activationSinusoid" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSoftExponentialCfgType" name="activationSoftExponential" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationSoftPlusCfgType" name="activationSoftPlus" minOccurs="1" maxOccurs="1"/>
          <xs:element type="ActivationTanHCfgType" name="activationTanH" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
        <xs:element type="FFNetHiddenLayersCfgType" name="hiddenLayers" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element type="FFNetLinRegrTrainerCfgType" name="linRegrTrainer" minOccurs="1" maxOccurs="1"/>
        <xs:element type="FFNetRPropTrainerCfgType" name="resPropTrainer" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute type="FFNetRegressionMethodType" name="regressionMethod" use="required"/>
  </xs:complexType>

  <!-- ________________________________________PP NETWORK TYPES_________________________________________________ -->
  <!-- Parallel Perceptron network configuration -->

  <!-- FF network - p-delta rule trainer - configuration -->
  <xs:complexType name="PPNetPDeltaRuleTrainerCfgType">
    <xs:attribute type="UDoubleLT1Type" name="iniLR" use="required"/>
    <xs:attribute type="UDoubleGT1Type" name="incLR" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="decLR" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="minLR" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="maxLR" use="required"/>
  </xs:complexType>


  <xs:complexType name="PPNetCfgType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="PPNetPDeltaRuleTrainerCfgType" name="pDeltaRuleTrainer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UIntGT0Type" name="gates" use="required"/>
    <xs:attribute type="UIntGT0Type" name="resolution" use="required"/>
  </xs:complexType>

  <!-- ________________________________________READOUT LAYER TYPES_________________________________________________ -->

  <!-- Readout unit configuration -->
  <xs:complexType name="ROutLayerUnitCfgType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="FFNetCfgType" name="ff" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PPNetCfgType" name="pp" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="UIntGT0Type" name="attempts" use="required"/>
    <xs:attribute type="UIntGT0Type" name="attemptEpochs" use="required"/>
  </xs:complexType>

  <!-- Readout layer - output fields - configuration -->
  <xs:complexType name="ROutLayerOutputFieldsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Readout layer configuration -->
  <xs:complexType name="ROutLayerCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ROutLayerUnitCfgType" name="readoutUnit" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ROutLayerOutputFieldsCfgType" name="outputFields" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="testDataRatio" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:double">
          <xs:minExclusive value="0" />
          <xs:maxInclusive value="0.3333333333333333" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute type="UIntGT0AutoOptionType" name="folds" use="required"/>
  </xs:complexType>

  <!-- ________________________________________SYNAPSE TYPES_________________________________________________ -->

  <!-- Static synapse - configuration -->
  <xs:complexType name="StaticSynapseCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="weight" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:unsignedInt" name="maxDelay" use="required"/>
  </xs:complexType>
  
  <!-- Dynamic synapse - configuration -->
  <xs:complexType name="DynamicSynapseCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="weight" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:unsignedInt" name="maxDelay" use="required"/>
    <xs:attribute type="UDoubleType" name="tauFacilitation" use="required"/>
    <xs:attribute type="UDoubleType" name="tauRecovery" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="restingEfficacy" use="required"/>
    <xs:attribute type="UDoubleType" name="tauDecay" use="required"/>
  </xs:complexType>


  <!-- ________________________________________NEURAL POOL TYPES_________________________________________________ -->

  <!-- Pool - interconnection - configuration -->
  <xs:complexType name="PoolInterconnectionCfgType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="StaticSynapseCfgType" name="staticSynapse" minOccurs="1" maxOccurs="1"/>
      <xs:element type="DynamicSynapseCfgType" name="dynamicSynapse" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="UDoubleLE1Type" name="density" use="required"/>
    <xs:attribute type="UDoubleType" name="relShareEE" use="optional" default="0.3"/>
    <xs:attribute type="UDoubleType" name="relShareEI" use="optional" default="0.2"/>
    <xs:attribute type="UDoubleType" name="relShareIE" use="optional" default="0.4"/>
    <xs:attribute type="UDoubleType" name="relShareII" use="optional" default="0.1"/>
    <xs:attribute type="UDoubleGT0NAOptionType" name="avgDistance" use="optional" default="NA"/>
    <xs:attribute type="xs:boolean" name="allowSelfConnection" use="optional" default="true"/>
    <xs:attribute type="xs:boolean" name="constantNumOfConnections" use="optional" default="false"/>
  </xs:complexType>

  <!-- Pool - neuron group - configuration -->
  <xs:complexType name="PoolNeuronGroupCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="ActivationSimpleIFCfgType" name="activationSimpleIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationLeakyIFCfgType" name="activationLeakyIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationExpIFCfgType" name="activationExpIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationAdExpIFCfgType" name="activationAdExpIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationIzhikevichIFCfgType" name="activationIzhikevichIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationAutoIzhikevichIFCfgType" name="activationAutoIzhikevichIF" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationElliotCfgType" name="activationElliot" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationGaussianCfgType" name="activationGaussian" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationISRUCfgType" name="activationISRU" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationSigmoidCfgType" name="activationSigmoid" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationSincCfgType" name="activationSinc" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationSinusoidCfgType" name="activationSinusoid" minOccurs="1" maxOccurs="1"/>
        <xs:element type="ActivationTanHCfgType" name="activationTanH" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:element type="RandomValueType" name="bias" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="NeuronRoleType" name="role" use="required"/>
    <xs:attribute type="UDoubleType" name="relShare" use="required"/>
    <xs:attribute type="xs:boolean" name="augmentedStates" use="required" />
  </xs:complexType>

  <!-- Pool - neuron groups - configuration -->
  <xs:complexType name="PoolNeuronGroupsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="PoolNeuronGroupCfgType" name="neuronGroup" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Pool - retainment neurons -configuration -->
  <xs:complexType name="PoolRetNeuronsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="rate" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleLE1Type" name="density" use="required"/>
  </xs:complexType>

  <!-- Pool configuration -->
  <xs:complexType name="PoolCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="PoolNeuronGroupsCfgType" name="neuronGroups" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element type="PoolInterconnectionCfgType" name="interconnection" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PoolRetNeuronsCfgType" name="retainmentNeurons" minOccurs="0" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="noiseModulator" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="xs:unsignedInt" name="dimX" use="required" />
    <xs:attribute type="xs:unsignedInt" name="dimY" use="required" />
    <xs:attribute type="xs:unsignedInt" name="dimZ" use="required" />
    <xs:attribute type="UDoubleType" name="readoutNeuronsDensity" use="required"/>
  </xs:complexType>

  <!-- ________________________________________RESERVOIR TYPES_________________________________________________ -->

  <!-- Reservoir - pools container - configuration -->
  <xs:complexType name="ReservoirPoolCfgContainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="PoolCfgType" name="pool" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Reservoir - pool to pool connection - configuration -->
  <xs:complexType name="ReservoirPool2PoolConnCfgType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="StaticSynapseCfgType" name="staticSynapse" minOccurs="1" maxOccurs="1"/>
      <xs:element type="DynamicSynapseCfgType" name="dynamicSynapse" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="targetPool" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="targetConnDensity" use="required"/>
    <xs:attribute type="xs:string" name="srcPool" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="srcConnDensity" use="required"/>
    <xs:attribute type="UDoubleType" name="relShareEE" use="optional" default="0.3"/>
    <xs:attribute type="UDoubleType" name="relShareEI" use="optional" default="0.2"/>
    <xs:attribute type="UDoubleType" name="relShareIE" use="optional" default="0.4"/>
    <xs:attribute type="UDoubleType" name="relShareII" use="optional" default="0.1"/>
    <xs:attribute type="xs:boolean" name="constantNumOfConnections" use="optional" default="false"/>
  </xs:complexType>

  <!-- Reservoir - interpools interconnection container - configuration -->
  <xs:complexType name="ReservoirPool2PoolConnCfgContainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ReservoirPool2PoolConnCfgType" name="pool2PoolConn" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Reservoir configuration -->
  <xs:complexType name="ReservoirCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ReservoirPoolCfgContainerType" name="pools" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ReservoirPool2PoolConnCfgContainerType" name="pool2PoolConns" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="InputCodingType" name="inputCoding" use="optional" default="Analog"/>
    <xs:attribute type="UIntGT0Type" name="inputDuration" use="optional" default="1"/>
    <xs:attribute type="UDoubleGT0NAOptionType" name="spectralRadius" use="required" />
  </xs:complexType>

  <!-- ________________________________________STATE MACHINE TYPES_________________________________________________ -->
  <!-- StateMachine - input fields -configuration -->
  <xs:complexType name="SMInpFieldsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="routeToReadout" use="optional" default="false"/>
  </xs:complexType>

  <!-- StateMachine - reservoirs configuration - container -->
  <xs:complexType name="SMResCfgContainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ReservoirCfgType" name="reservoirCfg" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- StateMachine - reservoir instance - input field assignment configuration -->
  <xs:complexType name="SMResInstanceInputFieldAssignmentCfg">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="StaticSynapseCfgType" name="staticSynapse" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="inputFieldName" use="required"/>
    <xs:attribute type="xs:string" name="poolName" use="required"/>
    <xs:attribute type="UDoubleGT0Type" name="density" use="required"/>
  </xs:complexType>

  <!-- StateMachine - reservoir instance - input field(s) assignment(s) - configuration -->
  <xs:complexType name="SMResInstanceInputFieldAssignmentsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element type="SMResInstanceInputFieldAssignmentCfg" name="inputFieldAssignment" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- StateMachine - reservoir instance - configuration -->
  <xs:complexType name="SMResInstanceCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SMResInstanceInputFieldAssignmentsCfgType" name="inputFieldAssignments" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="xs:string" name="cfg" use="required" />
    <xs:attribute type="xs:boolean" name="augmentedStates" use="required" />
  </xs:complexType>

  <!-- StateMachine - reservoir instances - container -->
  <xs:complexType name="SMResInstanceContainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SMResInstanceCfgType" name="reservoirInstance" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- StateMachine configuration -->
  <xs:complexType name="SMCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SMInpFieldsCfgType" name="inputFields" minOccurs="1" maxOccurs="1"/>
      <xs:element type="SMResCfgContainerType" name="reservoirCfgContainer" minOccurs="1" maxOccurs="1"/>
      <xs:element type="SMResInstanceContainerType" name="reservoirInstanceContainer" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ROutLayerCfgType" name="readoutLayer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="NeuralTaskType" name="taskType" use="required"/>
    <xs:attribute type="xs:int" name="randomizerSeek" use="required" />
  </xs:complexType>

</xs:schema>

