RCNet/RCNetTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="RCNetTypes"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           xmlns="RCNetTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           >

  <!-- ________________________________________LOW LEVEL TYPES_________________________________________________ -->
  <!-- SIMPLE TYPES -->
  <!-- ENUMERATION TYPES -->
  <!-- Enumeration of random distribution -->
  <xs:simpleType name="RandomDistributionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Uniform"/>
      <xs:enumeration value="Gaussian"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of analog activation functions -->
  <xs:simpleType name="AnalogActivationFunctionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BentIdentity"/>
      <xs:enumeration value="Elliot"/>
      <xs:enumeration value="Gaussian"/>
      <xs:enumeration value="Identity"/>
      <xs:enumeration value="ISRU"/>
      <xs:enumeration value="LeakyReLU"/>
      <xs:enumeration value="Sigmoid"/>
      <xs:enumeration value="Sinc"/>
      <xs:enumeration value="Sinusoid"/>
      <xs:enumeration value="SoftExponential"/>
      <xs:enumeration value="SoftPlus"/>
      <xs:enumeration value="TanH"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeration of neural task type -->
  <xs:simpleType name="NeuralTaskType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Prediction"/>
      <xs:enumeration value="Classification"/>
      <xs:enumeration value="Hybrid"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Auto option-->
  <xs:simpleType name="AutoOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NA option-->
  <xs:simpleType name="NAOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NA"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NUMERIC TYPES -->
  <!-- Nonzero unsigned integer -->
  <xs:simpleType name="UIntGT0Type">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- UIntGT0Type with Auto option-->
  <xs:simpleType name="UIntGT0AutoOptionType">
    <xs:union memberTypes="UIntGT0Type AutoOptionType"/>
  </xs:simpleType>

  <!-- Unsigned double -->
  <xs:simpleType name="UDoubleType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double GT 0-->
  <xs:simpleType name="UDoubleGT0Type">
    <xs:restriction base="xs:double">
      <xs:minExclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Double with NA option-->
  <xs:simpleType name="DoubleNAOptionType">
    <xs:union memberTypes="xs:double NAOptionType"/>
  </xs:simpleType>

  <!-- UDoubleGT0Type with NA option-->
  <xs:simpleType name="UDoubleGT0NAOptionType">
    <xs:union memberTypes="UDoubleGT0Type NAOptionType"/>
  </xs:simpleType>

  <!-- Unsigned double less than 1 -->
  <xs:simpleType name="UDoubleLT1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double greater than 1 -->
  <xs:simpleType name="UDoubleGT1Type">
    <xs:restriction base="xs:double">
      <xs:minExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned double less than or equal 1 -->
  <xs:simpleType name="UDoubleLE1Type">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- COMPLEX TYPES -->
  <!-- Analog activation element -->
  <xs:complexType name="AnalogActivationCfgType">
    <xs:attribute type="AnalogActivationFunctionType" name="function" use="required"/>
    <xs:attribute type="DoubleNAOptionType" name="arg1" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg2" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg3" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg4" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg5" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg6" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg7" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg8" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg9" use="optional" default="NA"/>
    <xs:attribute type="DoubleNAOptionType" name="arg10" use="optional" default="NA"/>
  </xs:complexType>

  <!-- Alone name element -->
  <xs:complexType name="AloneNameType">
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <!-- Random value element -->
  <xs:complexType name="RandomValueType">
    <xs:attribute type="xs:double" name="min" use="required"/>
    <xs:attribute type="xs:double" name="max" use="required"/>
    <xs:attribute type="xs:boolean" name="randomSign" use="optional" default="false"/>
    <xs:attribute type="RandomDistributionType" name="distribution" use="optional" default="Uniform"/>
  </xs:complexType>

  <!-- ________________________________________FF NETWORK TYPES_________________________________________________ -->
  <!-- FF network - regression (training) methods - enumeration -->
  <xs:simpleType name="FFNetRegressionMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Linear"/>
      <xs:enumeration value="Resilient"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- FF network - hidden layer - configuration -->
  <xs:complexType name="FFNetHiddenLayerCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AnalogActivationCfgType" name="activation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UIntGT0Type" name="neurons" use="required"/>
  </xs:complexType>

  <!-- FF network - hidden layers - configuration -->
  <xs:complexType name="FFNetHiddenLayersCfgType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="FFNetHiddenLayerCfgType" name="layer" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- FF network - linear regression trainer - configuration -->
  <xs:complexType name="FFNetLinRegrTrainerCfgType">
    <xs:attribute type="UDoubleLT1Type" name="hiNoiseIntensity" use="required"/>
    <xs:attribute type="UDoubleGT1Type" name="maxStretch" use="optional" default="8"/>
    <xs:attribute type="UDoubleLT1Type" name="zeroMargin" use="required"/>
  </xs:complexType>

  <!-- FF network - resilient propagation trainer - configuration -->
  <xs:complexType name="FFNetRPropTrainerCfgType">
    <xs:attribute type="UDoubleLT1Type" name="zeroTolerance" use="required"/>
    <xs:attribute type="UDoubleGT1Type" name="positiveEta" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="negativeEta" use="required"/>
    <xs:attribute type="UDoubleType" name="iniDelta" use="required"/>
    <xs:attribute type="UDoubleType" name="minDelta" use="required"/>
    <xs:attribute type="UDoubleType" name="maxDelta" use="required"/>
  </xs:complexType>

  <!-- FF network configuration -->
  <xs:complexType name="FFNetCfgType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element type="AnalogActivationCfgType" name="outputActivation" minOccurs="1" maxOccurs="1"/>
        <xs:element type="FFNetHiddenLayersCfgType" name="hiddenLayers" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element type="FFNetLinRegrTrainerCfgType" name="linRegrTrainer" minOccurs="1" maxOccurs="1"/>
        <xs:element type="FFNetRPropTrainerCfgType" name="resPropTrainer" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute type="FFNetRegressionMethodType" name="regressionMethod" use="required"/>
  </xs:complexType>

  <!-- ________________________________________PP NETWORK TYPES_________________________________________________ -->
  <!-- Parallel Perceptron network configuration -->

  <!-- FF network - p-delta rule trainer - configuration -->
  <xs:complexType name="PPNetPDeltaRuleTrainerCfgType">
    <xs:attribute type="UDoubleLT1Type" name="iniLR" use="required"/>
    <xs:attribute type="UDoubleGT1Type" name="incLR" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="decLR" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="minLR" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="maxLR" use="required"/>
  </xs:complexType>


  <xs:complexType name="PPNetCfgType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element type="PPNetPDeltaRuleTrainerCfgType" name="pDeltaRuleTrainer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UIntGT0Type" name="gates" use="required"/>
    <xs:attribute type="UIntGT0Type" name="resolution" use="required"/>
  </xs:complexType>

  <!-- ________________________________________READOUT LAYER TYPES_________________________________________________ -->

  <!-- Readout unit configuration -->
  <xs:complexType name="ROutLayerUnitCfgType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element type="FFNetCfgType" name="ff" minOccurs="1" maxOccurs="1"/>
      <xs:element type="PPNetCfgType" name="pp" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute type="UIntGT0Type" name="attempts" use="required"/>
    <xs:attribute type="UIntGT0Type" name="attemptEpochs" use="required"/>
  </xs:complexType>

  <!-- Readout layer - output fields - configuration -->
  <xs:complexType name="ROutLayerOutputFieldsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Readout layer configuration -->
  <xs:complexType name="ROutLayerCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="ROutLayerUnitCfgType" name="readoutUnit" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ROutLayerOutputFieldsCfgType" name="outputFields" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="testDataRatio" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:double">
          <xs:minExclusive value="0" />
          <xs:maxInclusive value="0.3333333333333333" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute type="UIntGT0AutoOptionType" name="folds" use="required"/>
  </xs:complexType>

  <!-- ________________________________________ANALOG RESERVOIR TYPES_________________________________________________ -->
  <!-- Analog reservoir - input - configuration -->
  <xs:complexType name="AnaResInputCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name="weight" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleLE1Type" name="connectionDensity" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - random topology -configuration -->
  <xs:complexType name="AnaResRandTopoCfgType">
    <xs:attribute type="UDoubleLE1Type" name="connectionsDensity" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - ring topology -configuration -->
  <xs:complexType name="AnaResRingTopoCfgType">
    <xs:attribute type="UDoubleLE1Type" name="selfConnectionsDensity" use="required"/>
    <xs:attribute type="UDoubleLE1Type" name="interConnectionsDensity" use="required"/>
    <xs:attribute type="xs:boolean" name="bidirectional" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - DTT (Doubly Twisted Thoroidal) topology -configuration -->
  <xs:complexType name="AnaResDTTTopoCfgType">
    <xs:attribute type="UDoubleLE1Type" name="selfConnectionsDensity" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - retainment neurons -configuration -->
  <xs:complexType name="AnaResRetNeuronsCfgType">
    <xs:attribute type="UDoubleLE1Type" name="density" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="retainmentMinRate" use="required"/>
    <xs:attribute type="UDoubleLT1Type" name="retainmentMaxRate" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - context neuron -configuration -->
  <xs:complexType name="AnaResCtxNeuronCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AnalogActivationCfgType" name="activation" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="inputWeight" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="feedbackWeight" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleLE1Type" name="feedbackDensity" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir - internal -configuration -->
  <xs:complexType name="AnaResInternalCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element type="AnaResRandTopoCfgType" name="topologyRandom" minOccurs="1" maxOccurs="1"/>
        <xs:element type="AnaResRingTopoCfgType" name="topologyRing" minOccurs="1" maxOccurs="1"/>
        <xs:element type="AnaResDTTTopoCfgType" name="topologyDTT" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:element type="AnalogActivationCfgType" name="activation" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="bias" minOccurs="1" maxOccurs="1"/>
      <xs:element type="RandomValueType" name="weight" minOccurs="1" maxOccurs="1"/>
      <xs:element type="AnaResRetNeuronsCfgType" name="retainmentNeurons" minOccurs="0" maxOccurs="1"/>
      <xs:element type="AnaResCtxNeuronCfgType" name="contextNeuron" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:unsignedInt" name="size" use="required" />
    <xs:attribute type="UDoubleGT0NAOptionType" name="spectralRadius" use="required" />
  </xs:complexType>

  <!-- Analog reservoir - feedback fields - configuration -->
  <xs:complexType name="AnaResFeedbackFieldsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Analog reservoir - feedback -configuration -->
  <xs:complexType name="AnaResFeedbackCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="RandomValueType" name ="weight" minOccurs="1" maxOccurs="1"/>
      <xs:element type="AnaResFeedbackFieldsCfgType" name="feedbackFields" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="UDoubleLE1Type" name="density" use="required"/>
  </xs:complexType>

  <!-- Analog reservoir configuration -->
  <xs:complexType name="AnaResCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AnaResInputCfgType" name="input" minOccurs="1" maxOccurs="1"/>
      <xs:element type="AnaResInternalCfgType" name="internal" minOccurs="1" maxOccurs="1"/>
      <xs:element type="AnaResFeedbackCfgType" name="feedback" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
  </xs:complexType>

  <!-- ________________________________________ESN TYPES_________________________________________________ -->
  <!-- Esn - input fields -configuration -->
  <xs:complexType name="EsnInpFieldsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="routeToReadout" use="optional" default="false"/>
  </xs:complexType>

  <!-- Esn - reservoirs configuration - container -->
  <xs:complexType name="EsnAnaResCfgContainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AnaResCfgType" name="reservoirCfg" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Esn - reservoir instance - input fields - configuration -->
  <xs:complexType name="EsnAnaResInstanceInputFieldsCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="AloneNameType" name="field" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Esn - reservoir instance - configuration -->
  <xs:complexType name="EsnAnaResInstanceCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="EsnAnaResInstanceInputFieldsCfgType" name="inputFields" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required" />
    <xs:attribute type="xs:string" name="cfg" use="required" />
    <xs:attribute type="xs:boolean" name="augmentedStates" use="required" />
  </xs:complexType>

  <!-- Esn - reservoir instances - container -->
  <xs:complexType name="EsnAnaResInstanceContainerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="EsnAnaResInstanceCfgType" name="reservoirInstance" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Esn configuration -->
  <xs:complexType name="EsnCfgType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="EsnInpFieldsCfgType" name="inputFields" minOccurs="1" maxOccurs="1"/>
      <xs:element type="EsnAnaResCfgContainerType" name="reservoirCfgContainer" minOccurs="1" maxOccurs="1"/>
      <xs:element type="EsnAnaResInstanceContainerType" name="reservoirInstanceContainer" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ROutLayerCfgType" name="readoutLayer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="NeuralTaskType" name="taskType" use="required"/>
    <xs:attribute type="xs:int" name="randomizerSeek" use="required" />
  </xs:complexType>

</xs:schema>

