XML/AnalogReservoirSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- INCLUDES -->
  <xs:include schemaLocation="NeuralCommonTypes.xsd"/>

  <!-- SIMPLE TYPES -->
  <!-- Retirement rate -->
  <xs:simpleType name="RetirementRateType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Reservoir input structure -->
  <xs:complexType name="ReservoirInputStructureType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element type="InputFieldType" name="Field"/>
    </xs:sequence>
    <xs:attribute type="ScaleType" name="BiasScale" use="required"/>
    <xs:attribute type="DensityType" name="ConnectionDensity" use="required"/>
    <xs:attribute type="ScaleType" name="WeightScale" use="required"/>
  </xs:complexType>

  <!-- Reservoir random topology -->
  <xs:complexType name="RandomTopologyType">
    <xs:attribute type="DensityType" name="ConnectionsDensity" use="required"/>
  </xs:complexType>

  <!-- Reservoir ring topology -->
  <xs:complexType name="RingTopologyType">
    <xs:attribute type="DensityType" name="SelfConnectionsDensity" use="required"/>
    <xs:attribute type="DensityType" name="InterConnectionsDensity" use="required"/>
    <xs:attribute type="xs:boolean" name="BiDirection" use="required"/>
  </xs:complexType>

  <!-- Reservoir DTT topology -->
  <xs:complexType name="DTTTopologyType">
    <xs:attribute type="DensityType" name="SelfConnectionsDensity" use="required"/>
  </xs:complexType>

  <!-- Reservoir retirement neurons -->
  <xs:complexType name="RetirementNeuronsType">
    <xs:attribute type="DensityType" name="Density" use="required"/>
    <xs:attribute type="RetirementRateType" name="RetirementMinRate" use="required"/>
    <xs:attribute type="RetirementRateType" name="RetirementMaxRate" use="required"/>
  </xs:complexType>

  <!-- Reservoir context neuron -->
  <xs:complexType name="ReservoirContextNeuronType">
    <xs:attribute type="DensityType" name="FeedbackDensity" use="required"/>
    <xs:attribute type="ActivationType" name="Activation" use="required"/>
    <xs:attribute type="ScaleType" name="InWeightScale" use="required"/>
    <xs:attribute type="ScaleType" name="OutWeightScale" use="required"/>
  </xs:complexType>

  <!-- Reservoir internal structure-->
  <xs:complexType name="ReservoirInternalStructureType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:choice>
        <xs:element name="RandomTopology" type="RandomTopologyType" />
        <xs:element name="RingTopology" type="RingTopologyType" />
        <xs:element name="DTTTopology" type="DTTTopologyType" />
      </xs:choice>
      <xs:element name="RetirementNeurons" type="RetirementNeuronsType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ContextNeuron" type="ReservoirContextNeuronType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Size" type="xs:unsignedInt" use="required" />
    <xs:attribute name="Activation" type="ActivationType" use="required" />
    <xs:attribute type="ScaleType" name="WeightScale" use="required"/>
  </xs:complexType>

  <!-- Reservoir Feedback -->
  <xs:complexType name="ReservoirFeedbackType">
    <xs:attribute type="DensityType" name="Density" use="required"/>
    <xs:attribute type="ScaleType" name="WeightScale" use="required"/>
  </xs:complexType>

  <!-- Reservoir structure -->
  <xs:complexType name="ReservoirStructureType">
    <xs:sequence minOccurs="1">
      <xs:element name="Input" type="ReservoirInputStructureType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Internal" type="ReservoirInternalStructureType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Feedback" type="ReservoirFeedbackType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Multiple" type="xs:boolean" use="required" />
    <xs:attribute name="AugmentedStates" type="xs:boolean" use="required" />
  </xs:complexType>

</xs:schema>
