XML/ESNDemoSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- INCLUDES -->
  <xs:include schemaLocation="ESNSettings.xsd" />

  <!-- SIMPLE TYPES -->
  <!-- Normalizer reserve ratio -->
  <xs:simpleType name="NormalizerReserveRatioType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxExclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Test samples selection method -->
  <xs:simpleType name="TestSamplesSelectionMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RANDOM"/>
      <xs:enumeration value="SEQUENCE"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- COMPLEX TYPES -->
  <!-- Samples data -->
  <xs:complexType name="SamplesSpecType">
    <xs:attribute type="xs:string" name="CSVDataFileName" use="required"/>
    <xs:attribute type="xs:unsignedInt" name="BootSeqMinLength" use="required"/>
    <xs:attribute type="xs:unsignedInt" name="TrainingSeqMaxLength" use="required"/>
    <xs:attribute type="xs:unsignedInt" name="TestingSeqLength" use="required"/>
    <xs:attribute type="TestSamplesSelectionMethodType" name="TestSamplesSelection" use="required"/>
    <xs:attribute type="xs:boolean" name="SingleNormalizer" use="required"/>
    <xs:attribute type="NormalizerReserveRatioType" name="NormalizerReserveRatio" use="required"/>
  </xs:complexType>

  <!-- Output field -->
  <xs:complexType name="OutputFieldType">
    <xs:attribute name="Name" use="required"/>
  </xs:complexType>

  <!-- DEMO Output -->
  <xs:complexType name="OuputType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element type="OutputFieldType" name="Field"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Demo case structure -->
  <xs:complexType name="DemoCaseStructureType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="SamplesSpecType" name="Samples" minOccurs="1" maxOccurs="1"/>
      <xs:element type="ESNStructureType" name="ESN" minOccurs="1" maxOccurs="1"/>
      <xs:element type="OuputType" name="Output" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name" use="required"/>
  </xs:complexType>

  <!-- DOCUMENT -->
  <xs:element name="ESNDemoSettings">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element type="DemoCaseStructureType" name="DemoCase"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="DataDir" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
