Demo/ESNDemoConsoleApp/ESNSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- INCLUDES -->
  <xs:include schemaLocation="AnalogReservoirSettings.xsd"/>

  <!-- SIMPLE TYPES -->
  <!-- Regression method type -->
  <xs:simpleType name="RegressionMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LINEAR"/>
      <xs:enumeration value="RESILIENT"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- COMPLEX TYPES -->
  <!-- ESN Input -->
  <xs:complexType name="ESNInputType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element type="InputFieldType" name="Field"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="RouteToReadout" use="required"/>
  </xs:complexType>

  <!-- FF network hidden layer -->
  <xs:complexType name="FFHiddenLayerType">
    <xs:attribute name="Neurons" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute type="ActivationType" name="Activation" use="required"/>
  </xs:complexType>

  <!-- Readout -->
  <xs:complexType name="ReadoutStructureType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element type="FFHiddenLayerType" name="Layer"/>
    </xs:sequence>
    <xs:attribute type="ActivationType" name="Activation" use="required"/>
  </xs:complexType>

  <!-- Regression -->
  <xs:complexType name="RegressionType">
    <xs:attribute type="RegressionMethodType" name="RegressionMethod" use="required"/>
    <xs:attribute type="NonzeroUnsignedIntType" name="MaxAttempts" use="required"/>
    <xs:attribute type="NonzeroUnsignedIntType" name="MaxEpochs" use="required"/>
    <xs:attribute type="UnsignedFloatType" name="StopMSE" use="required"/>
  </xs:complexType>

  <xs:complexType name="ESNStructureType">
    <xs:sequence>
      <xs:element name="Input" type="ESNInputType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Reservoir" type="ReservoirStructureType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Readout" type="ReadoutStructureType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Regression" type="RegressionType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="RandomizerSeek" type="xs:int" use="required" />
  </xs:complexType>
  
</xs:schema>
