Demo/ESNDemoConsoleApp/NeuralCommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- SIMPLE TYPES -->
  <!-- Nonzero unsigned -->
  <xs:simpleType name="NonzeroUnsignedIntType">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Unsigned float -->
  <xs:simpleType name="UnsignedFloatType">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Density -->
  <xs:simpleType name="DensityType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Scale -->
  <xs:simpleType name="ScaleType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Activation functions -->
  <xs:simpleType name="ActivationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ELLIOT"/>
      <xs:enumeration value="IDENTITY"/>
      <xs:enumeration value="SINUSOID"/>
      <xs:enumeration value="TANH"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- COMPLEX TYPES -->
  <!-- Input field -->
  <xs:complexType name="InputFieldType">
    <xs:attribute name="Name" use="required"/>
  </xs:complexType>



</xs:schema>
